<!--Reference Website: https://www.learnrxjs.io/learn-rxjs/operators/combination-->
<ul>
    <li><a routerLink="/combination">Combination</a>
        <ul>
            <li>combineAll</li>
        </ul>
        <ul>
            <li>combineLatest</li>
        </ul>
        <ul>
            <li>concat</li>
        </ul>
        <ul>
            <li>concatAll</li>
        </ul>
        <ul>
            <li>endWith</li>
        </ul>
        <ul>
            <li>forkJoin</li>
        </ul>
        <ul>
            <li>merge</li>
        </ul>
        <ul>
            <li>mergeAll</li>
        </ul>
        <ul>
            <li>pairwise</li>
        </ul>
        <ul>
            <li>race</li>
        </ul>
        <ul>
            <li>startWith</li>
        </ul>
        <ul>
            <li>withLatestFrom</li>
        </ul>
        <ul>
            <li>zip</li>
        </ul>
    </li>
    <li>Conditional</li>
    <li>Creation</li>
    <li>Error Handling</li>
    <li>Multicasting</li>
    <li>Filtering</li>
    <li>Transformation</li>
    <li>Utility</li>
    <li>Full Listing</li>
</ul>